<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Restaurant Apps" />
    <meta name="theme-color" content="#FF7F3F" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="./favicon.png" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Balitiera Resto</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Balitiera Resto</h1>
        <button id="menu" class="header__menu">☰</button>
      </div>
      <nav id="drawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#/home">Home</a></li>
          <li class="nav__item"><a href="#/like">Favorite Restaurant</a></li>
          <li class="nav__item">
            <a href="https://github.com/RegaAG" target="_blank">About Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Balitiera Resto</h1>
        <p class="hero__tagline">
          Balitiera Resto - Rasa Tropis, Kenangan Abadi
        </p>
      </div>
    </div>
    <main-section></main-section>
    <footer>
      <p>Hak Cipta &copy; 2024 <a href="">Balitiera Resto</a></p>
    </footer>
  </body>
</html>
